*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Sora,sans-serif;
}
.screenRegister{
    display: flex;
}
.WelcomeMessage{
    background-color: #0094FF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ffff;
    height: 100vh;
    width: 454px;
}

.WelcomeMessage h1{
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
}
.WelcomeMessage span{
    font-size: 24px;
    font-weight: 200;
}


.cadastraPageContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cadastroFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 898px;
    height: 100vh;
}

.confirmButton{/*BUTTON*/
    width: 14rem;
    height: 3.25rem;
    margin-top: 1rem;
    background-color: #0094FF;
    border-radius: 3.1rem;
    border:none;
    color: #ffff;
    font-size: 18px;
    font-weight: 400;
}

.inputText{ /*INPUT*/
outline: none;   
 width: 60vh;
 height: 7vh;
 display:flex;
 justify-content: center;
 align-self: center; 
 margin: 5px;
 border-radius:4px;
 border: none;
 background-color: #e5e5e5e5;
 padding-left: 12px;
 font-family: Sora,sans-serif;
 font-size: 14px;
 color: #8E8E8E;
 font-weight: 300;
}
.inputText:focus{
    border: 1.5px  solid #0094FF;
}

.cadastroFormContainer h1{
    color: #0094FF;
    margin-bottom: 1.5rem;
    font-size:2rem;
    font-style: normal;
    font-weight: bold;
}
.cadastroFormContainer span{
    color: #9b9898;
    margin-top: 1rem;
    font-size: 1.03rem;
    font-weight: 200;
}

a{  
    text-decoration: none;
    color:#0094FF;
    font-weight: bold;}
